<% // for (var file in htmlWebpackPlugin.files) { console.log(`DEBUGGER: ---${file}`) } %>
  <% // https://github.com/jaketrent/html-webpack-template/blob/86f285d5c790a6c15263f5cc50fd666d51f974fd/index.html for tips %>
    <!DOCTYPE html>
    <html>

    <head>
      <meta charset="utf-8">
      <title>
        <%= htmlWebpackPlugin.options.title %>
      </title>
      <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
      <style>
        <%= require('../stylesheets/styles.css') %>
      </style>
    </head>
    <body>
      <header class="hero main-hero is-primary has-text-centered">
        <div class="hero-body">
          <h1 class="title">
            <%= htmlWebpackPlugin.options.title %>
          </h1>
        </div>
      </header>
      <main class="container">
        <div class="columns">
          <div class="column is-two-thirds is-offset-2">
            <section class="section quote-section has-text-centered">
              <div class="quote box">
                <div id="quote" class="animated faster">

                </div>
              </div>
              <div class="quote-controls has-text-centered">
                <button class="button is-primary" id="quotebutton">Get another fact</button>
                <br>
                <a class="tag is-primary twitter-icon-wrapper" href='#' type="button" id="twitteranchor" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no');return false;">
                  <%= require('../svg/twitter.svg') %>
                </a>
              </div>
            </section>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="container">
          <div class="columns">
            <div class="column is-two-thirds is-offset-2">
              <p class="has-text-centered">
                Made by
                <strong>Torisilva</strong> and
                <strong>Painatalman</strong> with creativity, basic coding skills and, of course,
                <a href="https://bulma.io/" target=_blank>Bulma</a>
              </p>
            </div>
          </div>
        </div>
      </footer>
      <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
    </body>

    </html>