html,
body {
  position: relative;
  padding: 0;
  height : 100%;
}

p {
  margin: 4px 0;
}

.main-hero {
  background-image: url('https://i.imgur.com/1iae7Mt.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.quote {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 96px;
}

.twitter-icon-wrapper {
  margin-top: 12px;
}

.twitter-icon-wrapper svg {
  width: 24px;
}

.twitter-icon-wrapper * {
  fill: #00d1b2;
}

